/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
/* toto je černá magie, na kterou nešahej! */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
BARVY
czechitas                 #b92e81 ANO
šedé pozadí stránky       #bdc3c7 ANO
tmavé pozadí pod textem   #31363b ANO
dělítka mezi tlačítky     #3f464d
tlačítko portfolio        #e74c3c
tlačítko facebook         #3b5998
tlačítko twitter          #1da1f2
*/


body {
  background-color: #bdc3c7;
  box-shadow: grey 4px 6px 20px;
  }

.obsah {
  background-color: #31363b;
  }
/* font Montserrat pro nadpis H1 "Jana Czechita" */
h1 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    color: white;
  }


/* font Source Sans Pro .obsah p */
.obsah p, 
.odkazy {
  width: 50%;
  color: #bdc3c7;
  display: inline-block;
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* obrázek se třídou .logo 
kulaté , barva na pozadí*/
.foto {
  width: 70%;
}
.hlavicka{
  position: relative;
  margin-bottom: -5px;
  }


.logo {
  border-radius: 50%;
  background-color: #b92e81;
  position: absolute;
  left: 50%;
  bottom: -5%;
}

/* .obsah zarovnat nalevo, zmenšit tmavě šedý box, 
aby nebyl po celé stránce, ale stejně s .foto*/
.obsah {
  width: 70%;
  padding: 30px 20px 30px 20px;

}
  
  /* .odkazy, */
.odkazy {
  background-color: #31363b;
  width: 70%;
  height: 50px;
  margin-top: 2px;
}
.portfolio {
  position: relative;
  left: 15%;
  border-bottom: 3px solid #3f464d;
}

.portfolio:hover {
  left: 20px;
  background-color: #e74c3c;
}

.facebook {
  position: relative;
  top: 50%;
  right: 20%;
}

.facebook:hover {
  left: 20px;
  background-color: #3b5998;
}

.twitter {
  position: relative;
  top: 50%;
  left: 10%;
  border-left: 3px solid #3f464d;
}

.twitter:hover {
  left: 20px;
  background-color: #1da1f2;
}

/* nefunguje text-tranform: uppertext; pro kapitálky*/

ul li {
  display: inline-block;
}

ul li a {
    color: #bdc3c7;
    text-decoration: none;
  }
