/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
/* toto je černá magie, na kterou nešahej! */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
BARVY
czechitas                 #b92e81 ANO
šedé pozadí stránky       #bdc3c7 ANO
tmavé pozadí pod textem   #31363b ANO
dělítka mezi tlačítky     #3f464d
tlačítko portfolio        #e74c3c
tlačítko facebook         #3b5998
tlačítko twitter          #1da1f2
*/


body {
  background-color: #bdc3c7;
  font-family: "Source Sans 3", sans-serif;
  }

.profil {
    width: 360px;
    margin: auto;
    background-color: #31363b;
    box-shadow: 10px 5px 5px grey;
  }


/* font Montserrat pro nadpis H1 "Jana Czechita" */
h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: white;
  }
/* pixely od oka, procenta - od rodiče; relativní jednotky VW  
viewport width, VH viewport height - */

a {
  font-family: "Montserrat";
}
/* font Source Sans Pro .obsah p */
.obsah p, 
.odkazy {
  color: #bdc3c7;
  font-weight: 300;
  font-style: normal;
}

/* obrázek se třídou .logo 
kulaté , barva na pozadí*/

.hlavicka{
  position: relative;
  margin-bottom: -5px;
  }

  .foto {
    width: 100%;
  }

.logo {
  border-radius: 50%;
  background-color: #b92e81;
  position: absolute;
  right: 15%;
  bottom: -5%;
}

/* .obsah zarovnat nalevo, zmenšit tmavě šedý box, 
aby nebyl po celé stránce, ale stejně s .foto*/
.obsah {
  padding: 30px 20px 30px 20px;

}
  
  /* .odkazy, */
.odkazy {
  background-color: #31363b;
  /*display: inline-block;*/
  text-align: center;
  padding: 0;
  margin: 0;
}
/* border-block - horni a dolni hranice*/
.portfolio {
  width: 100%;
  margin: 0;
  padding: 15px auto;
  border-block: 3px solid #3f464d;
}

.portfolio:hover {
  background-color: #e74c3c;
}

.facebook {
  width: 48%;
}

.facebook:hover {
  background-color: #3b5998;
}

.twitter {
  width: 48%;
  border-left: 3px solid #3f464d;
}

.twitter:hover {
  background-color: #1da1f2;
}

/* nefunguje text-tranform: uppertext; pro kapitálky*/

li {
  display: inline-block;
  padding-block: 15px;
}

li a {
    color: #bdc3c7;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
  }
